.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-pop {
  background: gray;
  color: white;
}

.App-flex {
  display: flex;
  justify-content: space-around;
}

.SmallestCountries > button {
  margin: 10px;
}

.SmallestCountries-info {
  display: flex;
  justify-content: center;
}

.SmallestCountries-info > p {
  padding: 20px;
}
